body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 4px;

}
.ibut{
    background-color: rgb(25, 25, 25);
    border-radius: 40px;
    color: white;
    height: 20px;
    width: 20px;
    border-color:white;
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.starttext{
    font-size:10px ;
}

img {
    width: 40px;
}

.rockbut {
    margin-left: 20px;
    border-radius: 50px;
}

.rockbut,
.paperbut,
.scissorsbut {
    margin-right: 20px;
    border-radius: 150px;
    padding: 20px;
    background-color: white;
    border-color: goldenrod;
    border-width: 4px;
    cursor: pointer;
}

.resulttext,
.movestext,
.scoretext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    margin-left: 20px;
}

.resetbut {
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    border-width: 3px;
    height: 50px;
    border-color: goldenrod;
    cursor: pointer;
    margin-left: 20px;
}

.resetbut:active {
    background-color:gray;
    color: white;
}
.js-compSelection{
    margin: 40px;
}
.js-yourSelection{
    margin: 40px;
    margin-top: 50px;

}
.prePhase{
    padding: 20px;
    padding-top: 0;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    
}
.subtitle{
    margin-top: 0;
    margin-left: 20px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
}
